@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.pegadaian-shadow {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}
